<!DOCTYPE html>
<html ng-app="fluro">
<head>
    <meta charset="utf-8">

    <title ng-bind="$root.seo.headTitle"></title>
    <meta name="description" content="{{ $root.seo.getDescription() | plaintext }}">
    <meta name="fragment" content="!">

    <!-- Facebook -->
    <meta property="fb:app_id"          content="387340101438406" />
    <meta property="og:site_name"       content="{{$root.applicationData.publicData.siteName}}"/>
    <meta property="og:title"           content="{{ $root.seo.headTitle }}" ng-if="$root.seo.headTitle.length"/>
    <meta property="og:description"     content="{{ $root.seo.getDescription() | plaintext }}"/>
    <meta property="og:type"            content="website" />
    <meta property="og:url"             content="{{ $root.seo.fullURL }}" ng-if="$root.seo.fullURL"/>
    <meta property="og:image"           content="{{ $root.seo.getImageURL() }}" ng-if="$root.seo.getImageURL()"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    <!-- fluro:devstart -->
    <!--//////////////////////////////////////////-->

    <!-- Add your testing application details here -->
    <meta property="fluro_url" content="https://api.staging.fluro.io">
    <meta property="app_dev_url" content="https://import.staging.fluro.io">
    <!-- <meta property="fluro_application_key" content="APPLICATION_KEY"> -->
    
    <!--//////////////////////////////////////////-->
    <!-- fluro:devend -->

    <!--//////////////////////////////////////////-->
    <!-- fluro:config -->
    <!--//////////////////////////////////////////-->


    <!--//////////////////////////////////////////-->
    <!-- build:css /css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- fluro:beforecss -->
    <!-- build:css /css/style.min.css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endbuild -->
    <!-- fluro:aftercss -->
    <!--//////////////////////////////////////////-->



    <!--//////////////////////////////////////////-->
    <!-- fluro:googleanalytics -->
    <!--//////////////////////////////////////////-->

    <base href="/">
</head>
<body ng-cloak>


    <!-- app-wrapper -->
    <div class="layout-outer" ng-class="{'expanded': $root.sidebarExpanded == true}">
        <a class="btn-hamburger" ng-click="$root.sidebarExpanded = !$root.sidebarExpanded">
            <hamburger ng-class="{open:$root.sidebarExpanded}"></hamburger>                            
        </a>
        <div class="layout-main">

            <!-- MAIN CONTENT HEADER, BODY, FOOTER -->
            <header class="masthead">
                <div class="container-fluid">
                    <!-- <div ng-if="$root.breadcrumb.trail.length <= 1">
                        <a class="logo-name" ui-sref-active="active" ui-sref="home">
                                {{$root.seo.headTitle}}
                        </a>
                    </div> -->
                    <div class="pull-left">
                        <a class="nav-button logo" ui-sref="importContacts.select">
                            <!-- {{$root.applicationData.siteName}} -->
                            Import
                        </a>
                        <!-- <a class="nav-button logo" ui-sref="home" target="_self" ng-if="$root.breadcrumb.trail.length <= 1" ng-click="$root.goHome()">
                            <span>{{$root.applicationData.siteName}}</span>
                        </a>
                        <a class="nav-button" ng-click="$root.breadcrumb.back()" ng-if="$root.breadcrumb.length > 1">
                            <i class="fa fa-angle-left"></i>
                            <span>Back</span>
                        </a> -->
                    </div>
                </div>
            </header>    

            <div class="main-view" ui-view></div>

            
        </div>

        <!-- overlay when sidebar is expanded -->
        <div class="layout-blanket" ng-click="$root.sidebarExpanded = false"></div>

        <!-- sidebar -->
        <div class="layout-sidebar">
             <div class="layout-sidebar-content">
                <div class="sidebar-block border-bottom" ng-if="$root.user">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="avatar">
                                <img preload-image aspect="100" ng-src="{{$root.asset.avatarUrl($root.user._id, 'user', {w:80, h:80, cb:$root.avatarCache.buster})}}">
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <h4 class="sidebar-user-name">{{$root.user.firstName}} {{$root.user.lastName}}</h4>
                            <h4 class="sidebar-user-account">{{::$root.user.account.title }}</h4>
                        </div>
                    </div>
                </div>

                <div ng-if="$root.user">
                    <ul class="sidebar-menu">
                        <li>
                            <a ui-sref="importContacts.select" ui-sref-active="active" ng-click="$root.sidebarExpanded = false">
                                <i class="lnr lnr-home"></i>
                                <span>Home</span>
                            </a>
                        </li>
                      <!--   <li>
                            <a ui-sref="test" ui-sref-active="active" ng-click="$root.sidebarExpanded = false">
                                <i class="lnr lnr-cog"></i>
                                <span>Test</span>
                            </a>
                        </li> -->
                       <!--  <li>
                            <a ui-sref="guide" ui-sref-active="active" ng-click="$root.sidebarExpanded = false">
                                <i class="lnr lnr-book"></i>
                                <span>Sample CSV</span>
                            </a>
                        </li> -->
                        <li ng-if="$root.user">
                            <a href="/fluro/logout" target="_self">
                                <i class="lnr lnr-exit"></i>
                                <span>{{'Sign Out'}}</span>
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="sidebar-footer" ng-if="$root.user">
                    <ul class="sidebar-menu">
                        <li>
                            <a href="https://app.fluro.io">
                                <i class="lnr lnr-layers"></i>
                                <span>My Apps</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- build:js /js/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/async/dist/async.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.js"></script>
    <script src="/bower_components/fluro.config/dist/fluro.config.js"></script>
    <script src="/bower_components/fluro.util/dist/fluro.util.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/fluro.content/dist/fluro.content.js"></script>
    <script src="/bower_components/fluro.asset/dist/fluro.asset.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="/bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
    <script src="/bower_components/fluro.video/dist/fluro.video.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/fluro.socket/dist/fluro.socket.js"></script>
    <script src="/bower_components/api-check/dist/api-check.js"></script>
    <script src="/bower_components/angular-formly/dist/formly.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
    <script src="/bower_components/fluro.access/dist/fluro.access.js"></script>
    <script src="/bower_components/validator-js/validator.js"></script>
    <script src="/bower_components/fluro.validate/dist/fluro.validate.js"></script>
    <script src="/bower_components/fluro-interactions/dist/fluro.interactions.js"></script>
    <script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="/bower_components/angular-csv-import/dist/angular-csv-import.js"></script>
    <script src="/bower_components/angular-json-human/dist/angular-json-human.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/ng-csv/build/ng-csv.js"></script>
    <!-- endbower -->

    <script src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
    <!-- endbuild -->


    <!-- fluro:appdata -->

    <!-- build:js /js/app.js -->
    <script src="/js/app.js"></script>
    <script src="/js/templates.js"></script>
    <!-- endbuild -->



    <!-- fluro:devstart -->
    <!--//////////////////////////////////////////-->
    
    <!-- LOCAL CODE ONLY-->
    <script src="http://localhost:9002/livereload.js"></script>
    <script src="https://upstream.fluro.io/appdata.js" type="text/javascript"></script>

    <!--//////////////////////////////////////////-->
    <!-- fluro:devend -->


</body>
</html>
